# dependencies
node_modules/
client/node_modules/
server/node_modules/

# environment variables
.env

# build folders
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# coverage
coverage/

# uploads/temp if used
uploads/
temp/
logs/